.App {
  /* text-align: center; */
  font-family: Arial, sans-serif;
}

section {
  padding: 20px;
  margin: 20px;
}

h2 {
  color: #2c3e50;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
